@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");
@import url("https://fonts.googleapis.com/css?family=Montserrat:700");
@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
  margin: 0 ;
  padding: 0 40px;
  background-image: url("https://i.ibb.co/Zz031mx/Body-Background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 98vh;
  font-family: "Poppins";
}
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1px;
  z-index: 1000; /* Pastikan header muncul di atas konten lainnya */
}

.logo {
  display: flex;
  align-items: center;
  margin: 5px 20px;
}
.logo-image img {
  max-width: 40px;
}
.logo-title {
  align-items: flex-start;
  margin-left: 5px;
  text-decoration: none;
}
.logo-title h2,
p {
  margin: 0;
  color: #ffffff;
}
.logo-title h2 {
  color: #d7d02a;
  font-size: 30px;
  margin-bottom: -10px;
}

.logo-title p {
  font-family: "Courier New", Courier, monospace;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0 30px;
  display: flex;
}
.navbar ul li {
  margin-right: 20px;
}
.navbar ul li:last-child {
  margin-right: 0;
}
.nav-link {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}
.nav-link:hover {
  color: #d7d02a;
}
#order-link {
  background-color: #d7d02a;
  color: black;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 20px;
}
#order-link:hover {
  background-color: #0000006f;
  color: #fff;
  transition: color 0.1s ease;
}

#main {
  padding-top: 65px;
  margin: 0 60px;
}

.main-content {
  height: 150vh;
}
#Home {
  margin: 80px 0px 40px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.home-content {
  z-index: 1;
  max-width: 600px;
}
.home-img {
  position: absolute;
  right: 0;
}
.home-img img {
  max-width: 850px;
}
#Home span {
  margin: 0;
  padding: 0;
  color: #000;
  text-shadow: 0px 4px 3px #000000ce;
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
}

#Home h1 {
  margin: 0px;
  padding: 0px;
  color: #ffffff;
  font-family: "Montserrat";
  text-shadow: 0px 6px 3px #000000ce;
  font-size: 50px;
}
#Home .title {
  color: #d7d02a;
  font-size: 72px;
  font-weight: bold;
  font-style: normal;
}
.home-content .description{
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}
#Home p {
    margin: 5px 0;
    color: #fff;
}

#AboutUs {
  background-color: rgba(0, 0, 0, 0.5);
  /* background-color: rgba(255, 255, 255, 0.5); */
  border-radius: 20px;
  text-align: center;
  padding: 10px 20px;
}
#AboutUs h2{
    margin: 0;
    color: #d7d02a;
    text-shadow: 0px 3px 1px #000000;
}
#AboutUs p{
    text-align: justify;
    color: #fff;

}
.prinsip {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.box-prinsip {
    flex: 0.2;
    /* background-color: #d7d12ae9; */
    /* background-color: rgba(0, 0, 0, 0.8); */
    border-radius: 10px;
    transition: all 0.3s ease;
    color: #fff;
    /* box-shadow: 5px 5px 5px #000; */
}
.box-prinsip:hover {
    transform: scale(1.1);
}
.box-prinsip img{
    max-width: 100px;
    margin-bottom: -30px;
}


footer {
  text-align: center;
}
