@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");
@import url("https://fonts.googleapis.com/css?family=Montserrat:700");
@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
  margin: 0;
  padding: 0 40px;
  background-image: url("https://i.ibb.co/Zz031mx/Body-Background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 98vh;
  font-family: "Poppins";
}
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1px;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
  margin: 5px 20px;
}
.logo-image img {
  max-width: 40px;
}
.logo-title {
  align-items: flex-start;
  margin-left: 5px;
  text-decoration: none;
}
.logo-title h2,
p {
  margin: 0;
  color: #ffffff;
}
.logo-title h2 {
  color: #d7d02a;
  font-size: 30px;
  margin-bottom: -10px;
}

.logo-title p {
  font-family: "Courier New", Courier, monospace;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0 30px;
  display: flex;
}
.navbar ul li {
  margin-right: 20px;
}
.navbar ul li:last-child {
  margin-right: 0;
}
.nav-link {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}
.nav-link:hover {
  color: #d7d02a;
}
#order-link {
  background-color: #d7d02a;
  color: black;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 20px;
}
#order-link:hover {
  background-color: #0000006f;
  color: #fff;
  transition: color 0.1s ease;
}

#main {
  margin: 0 60px;
}

.Nav-Box {
  padding-top: 65px;
}

#Home {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.home-content {
  z-index: 1;
  max-width: 600px;
}
.home-img {
  position: absolute;
  right: 0;
}
.home-img img {
  max-width: 850px;
}
#Home span {
  margin: 0;
  padding: 0;
  color: #000;
  text-shadow: 0px 4px 3px #000000ce;
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
}

#Home h1 {
  margin: 0px;
  padding: 0px;
  color: #ffffff;
  font-family: "Montserrat";
  text-shadow: 0px 6px 3px #000000ce;
  font-size: 50px;
}
#Home .title {
  color: #d7d02a;
  font-size: 72px;
  font-weight: bold;
  font-style: normal;
}
.home-content .description {
  text-align: justify;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
}
#Home p {
  margin: 5px 0;
  color: #fff;
}

.content {
  text-align: center;
}
.content h2 {
  margin: 10px;
  font-size: 28px;
  color: #d7d02a;
  text-shadow: 2px 3px 1px #000000;
}

#AboutUs {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  padding: 5px 20px;
}
#AboutUs p {
  text-align: justify;
  color: #fff;
}
.prinsip {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.box-prinsip {
  flex: 0.2;
  border-radius: 10px;
  transition: all 0.3s ease;
  color: #fff;
}
.box-prinsip:hover {
  transform: scale(1.1);
}
.box-prinsip img {
  max-width: 100px;
  margin-bottom: 0px;
}

.container-left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}
.container-right {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-bottom: 20px;
}
.container-text {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  flex-basis: 50%;
  padding: 20px;
}
.container-text h3,
p {
  margin: 0;
  padding: 0;
}
.container-text h3 {
  color: #d7d02a;
}
.container-text p {
  text-align: justify;
  font-weight: lighter;
}
.container-list {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  color: #fff;
  padding: 20px;
  width: calc(50% - 70px);
}

.container-list h4 {
  margin-top: 0;
  color: #d7d02a;
}

.container-list ul {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

.container-list li {
  margin-bottom: 10px;
  padding-left: 20px;
  position: relative;
  line-height: 1.6;
}

.layanan-img {
  flex-basis: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
.layanan-img img {
  max-width: 70%;
  height: auto;
}
.container-model{
    margin: 50px 0 0;
}

.container-subtitle {
  color: #fff;
  text-shadow: 1px 3px 1px #000000ce;
  flex-basis: 25%;
  text-align: center;
  background-color: #d7d02a;
  border-radius: 20px;
  box-shadow: 0px 5px 5px #000000ce;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.container-subtitle h4 {
  font-size: 40px;
  margin: 0;
}


.container-skala{
    flex-basis: 59%;
    padding: 0px 30px;
}
.box-skala{
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow:  0px 4px 3px #000000ce;
    margin: 10px;
    padding: 5px;
    min-width: auto;
    border-radius: 10px;
}
.container-model{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.box-model{
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    box-shadow: 4px 6px 4px #000000ce;
    flex-basis: 26%;
}
.box-model img{
    margin: 10px;
    padding: 0;
    max-width: 200px;
}
.box-model h5{
    margin-top: 5px;
    color: #d7d02a;
}


.carousel-control {
  padding: 200px;
}
.carousel-item img {
  margin: 10px auto;
  display: block;
  max-width: 250px;
  height: auto;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 0px;
  margin: 0 -40px;
}
